:root {
  --linkedIn-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg");
  --gitHub-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg");
  --open-in-new: url("../img/open-in-new.svg");
  --yk-logo:url('../img/yk-logo.svg');
  --banner-logo-size:clamp(3ch, 5ch + 1rem , 7ch);
}
button.socialLinks:hover {
  opacity: 0.8;
}
.headingContainer > a {
  display: flex;
  align-items: center;
}
button.socialLinks {
  padding: 0;
  height: var(--fs-600);
  width: var(--fs-600);
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.projectList img {
  width: 100%;
}
button.open-in-new {
  background-image: var(--open-in-new);
  background-size: cover;
}
button.linkedIn {
  background-image: var(--linkedIn-image);
}
button.gitHub {
  background-image: var(--gitHub-image);
}
button.myLogo{
  background-image:var(--yk-logo);
  height:var(--banner-logo-size);
  width:var(--banner-logo-size);
}
