:root {
  --fs-xl: clamp(3.5rem, 10vw + 1rem, 12rem);
  --fs-400: clamp(1rem, 1vw + 1rem, 2rem);
  --fs-600: clamp(2rem, 2vw + 1rem, 2rem);
  --fs-name-banner: clamp(2.5rem, 5vw + 1rem, 7rem);
  --footer-image: url("../img/laptop-on-a-desk.jpg");
}
@media (min-width:1300px){
    :root{
        --fs-xl:150px;
        --fs-400:4rem;
        --fs-600:5rem;
    }

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs-xl);
}
div {
  font-size: var(--fs-400);
}
.heading_line2 {
  font-size: var(--fs-600);
}
.nameBanner > div {
  font-size: var(--fs-name-banner);
}
nav.nameBanner {
  position: fixed;
  font-size: var(--fs-600);
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
section.myName {
  padding-top: 12vh;
}

.projectList {
  list-style-type: none;
  padding: 20px;
  display: grid;
  gap: 2em;
}

div.imageContainer {
  background-color: aqua;
  grid-row: 1;
  height: 300px;
}
.headImg > img {
  margin: auto;
}
.footerImg {
  height: 80vw;
  background-image: var(--footer-image);
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 0;
}
.headingContainer {
  display: flex;
  align-items: center;
}
.projectTitle {
  margin-right: auto;
  font-size: var(--fs-600);
}
.whoAmI{
    display:flex;
    gap:1ch;
}
.heading_line2{
    margin-right:auto;
}
.whoAmI>a{
    display:flex;
    align-items: center;
}
section{
    padding:1ch;
}