@media (min-width: 45em) {
  .rightNav {
    display: flex;
  }
  .menuIcon {
    display: none;
  }
  .email::before {
    content: var(--email-logo);
    width: var(--icon-size);
    display: inline-block;
    line-height: var(--icon-size);
    position: relative;
    bottom: -1.2ch;
    margin-right:1ch;
  }
  .tel::before {
    content: var(--phone-logo);
    width: var(--icon-size);
    display: inline-block;
    line-height: var(--icon-size);
    position: relative;
    bottom: -1.2ch;
    margin-right:1ch;
  }
  .headImg{
  float:left;
  margin:15px;
  position:static;
  }
  .person-name{
    top:10vh;
    right: 0;
    text-align: end;
  }
  .header-social{
    display:none;
  }
  .about-container{
    background-color: white;
    width:80%;
    margin:20vh auto 2ch auto;
    padding:5ch 2ch;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
  }
  .footer-content>h4{
    text-align: start;
  }
  .footer-social{
    justify-content: start;
  }
  #section-3{
    display:flex;
    padding:3ch;
    padding-bottom:5ch;
    justify-content: center;
  }
  .footer-img{
    float:right;
    width:30vw;
    object-fit: cover;
    max-width:400px;
  }
}
@media(min-width: 60em){
  .header-social{
    display:flex;
  }
  .about_details::before{
    text-align: start;
    padding:0.5ch;
  }
  .about-container{
    max-width:1000px;
    justify-self:start;
    margin:auto 0;
  }
  .header-social{
    justify-content: end;
  }
  #section-1{
    display:flex;
    justify-content: center;
  }
  .headImg>img{
    float:right;
  }
  .headImg{
    margin:0;
  }
}
