/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* custom css starts here */
nav.nameBanner{
    position:fixed;
    font-size:2em;
    width:100%;
    display:flex;
    background:rgba(255, 255, 255, 0.5);
    height:10vh;
    align-items: center;
    justify-content: center;
}
section.myName{
    padding-top:15vh;
}
button.linkedIn{
    background-image:url(
        "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg");
    }
    
    button.socialLinks:hover{
    all:unset;
    height: 40px;
    width: 40px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    opacity: 0.8;
}